# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Entorno
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Builds
dist/
build/
.next/

# Neutralino (si vas a usarlo)
.storage/
.tmp/
bin/
neutralinojs.log